 		body{
 		height:100vh;
 		}
 		nav{
            background-color:gainsboro;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height:10%;
        }
        
        nav div a{
        font-size:30px;
        font-weight:bold;
        }
        nav div i{
        font-size:50px;
        }
        nav ul{
            display:flex;
            list-style: none;
            padding:0;
            justify-content: center;
        }
       
       	nav ul a{
       		/* width:150px; */
            padding: 8px 12px;
            letter-spacing: 0em;
        }
        
        #menu > a > li{
        	width:150px;
        	padding: 8px 12px;
            letter-spacing: 0em;
            text-align:center;
        }

		
        nav > ul > a > li:hover{
            background-color:gray;
            color:black;
            border-radius: 0.3em;
            transition-duration: 500ms;  
        }
        
        nav > ul > a:hover{
            text-decoration:none;
            
        }
        nav ul{
            background-color: gainsboro;
            color:white;
            font-weight: bold;
        }
        body{
            margin:0;
            padding:0;
        }
        nav ul{
            margin:0;
            padding:0;
        }
        nav > ul > a{
            text-decoration:none;
            color:white;
        }
        #icon_bar{
            display: none;
        }
        @media (max-width:600px){
            nav{
               flex-direction: column; 
            }
            nav > i {
              
            }
            ul{
               flex-direction: column; 
            }
            ul > a > li {
                text-align: center;
            }
            .navbar_icon{
                display: none;
            }
            #icon_bar{
            /*visibility: visible;*/
            display: flex;
            position: absolute;
            right:10px;
            top:10px;
            }
            nav{
              justify-content: center;
            }
            nav{
             text-align: start;
            }
        }
        
        /* section */
        section{
         height:75%;
         overflow-y:scroll;
         justify-content:center;
        }
        section > div {
        margin:20px;
        font-size:20px;
        }
        /*  footer */
        footer {
        
        background-color:gray;
   		text-align:center;	 
        }
        footer > div {
        display:flex;
       	justify-content:center;
        }
        footer li{
            
            list-style: none;
            padding:0;
            padding: 8px 12px;
            letter-spacing: 0em;
        }
        
      footer *{height:15%;} 
        
       